*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    background-image: url(../img/pattern.png);
    background-color: rgba(5, 85, 233, 0.5);
    height: 120px;
}

header > img{
    height: 50px;
    width: auto;
    margin-top: 50px;
    margin-left: 10px;
}

/* css main */

main{
    margin: 20px 5px;
}

h1{
    font-size: 40px;
}

#blue_text{
    color: blue;
}

.info_autore{
    font-size: 15px;
    color: rgb(133, 133, 133);
    font-weight: bold;
}

#foto_tim{
    margin-top: 15px;
}

main img{
    height: 350px;
    width: auto;
}

.info_foto{
    font-size: 10px;
}

.testo_lorem{
    margin: 20px 0;
}

.testo_lorem span{
    background-color: yellow;
}

#unordered_list ul{
    padding: 15px;
}

.riga_blu{
    background-color: blue;
    color: white;
    height: 20px;
}

.prima_colonna{
    display: inline-block;
    width: 30%;
}

.seconda_colonna{
    display: inline-block;
    width: 35%;
}

.terza_colonna{
    display: inline-block;
    width: 30%;
}

.riga_azurra{
    background-color: aqua;
    display: flex;
    align-items: center;
}

.riga_bianca{
    background-color: white;
    display: flex;
    align-items: center;
}